<div class="container">
  <div class="section">
    <div class="row">
      <h1 class="col-md-12 text-center">
        {{currentDate | amDateFormat: 'LT'}}
      </h1>
    </div>
  </div>

  <div class="section">
    <hr class="hr-text" data-content="SLEEPING IN">
    <div class="row">
      <div class="col-md-12 text-center">
        <button class="time-modifier btn btn-primary" (click)="generateTimes(0)">Now</button>
        <button class="time-modifier btn btn-primary" (click)="generateTimes(10)">10</button>
        <button class="time-modifier btn btn-primary" (click)="generateTimes(15)">15</button>
        <button class="time-modifier btn btn-primary" (click)="generateTimes(20)">20</button>
        <button class="time-modifier btn btn-primary" (click)="generateTimes(30)">30</button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row" *ngIf="availableTimes.length">
      <ul class="times col-md-12 text-center">
        <li *ngFor="let time of availableTimes"
            (click)="setTime(time)"
            class="rise-time-row">
          <h3 class="rise-time-option">{{time.toString() | amDateFormat:'LT'}}</h3>
        </li>
      </ul>
    </div>
  </div>

  <div class="section" *ngIf="riseTime">
    <hr class="hr-text" data-content="RISING AT">
    <div class="row rise-time">
      <h1 class="col-md-12 text-center">{{riseTime | amDateFormat: 'LT'}}</h1>
      <div class="col-md-12 text-center">
        <a href="" (click)="cancelTimer($event)">cancel</a>
      </div>
    </div>
  </div>
</div>
