.container {
  color: #7FDBFF;

  .section {
    margin: 20px 0;
  }

  ul {
    list-style-type: none;
  }

  .rise-time-option {
    cursor: pointer;
  }

  .rise-time {
    animation: fadein 2s;
  }

  .time-modifier {
    margin: 5px;
    animation: fadein 2s;
  }

  .rise-time-row {
    margin-top: 30px;
    animation: fadein 2s;
  }

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
}
